@import "../../.cache/wal/colors-waybar.css";

@define-color waybar_bg alpha(@background, 0.6);
@define-color waybar_bg_solid @background;

/* 
*    plana      rgb(228, 139, 229)
*    windows11  rgb(92, 183, 239)
*/ 

@define-color accent_color @color5;

@define-color ws_button rgba(0, 0, 0, 0);
@define-color ws_button_special @accent_color;
@define-color ws_button_persistent @foreground;
@define-color ws_button_hover @color7;
@define-color ws_button_active @accent_color;
@define-color ws_button_urgent #FF9951;

* {
    all: unset;
    border: none;
    font-family: "Pretendard", "Noto Sans";
    font-weight: bold;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

window#waybar {
    background: transparent;
}

tooltip {
    background-color: transparent;
}

tooltip > box {
    margin-bottom: 5px;
    padding: 3px 10px;
    border-radius: 20px;
    background-color: alpha(@waybar_bg_solid, 0.8);
    box-shadow: 0px 2px 4px 1px alpha(@waybar_bg_solid, 0.4);
}

tooltip label {
    font-weight: normal;
    background-color: transparent;
}

#window {
    padding: 0px 15px 1px 15px;
    border-radius: 20px;
    background: @waybar_bg;
    opacity: 1;
}

.modules-left {
    background: transparent;
    padding: 0px;
}
.modules-center {
    background: transparent;
    padding: 0px;
}
.modules-right {
    background: transparent;
    padding: 0px;
}

#custom-notification {
    font-family: "Material Symbols Rounded";
    font-size: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    background: @waybar_bg;
}

#workspaces {
    padding: 5px 3px;
    border-radius: 20px;
    background: @waybar_bg;
}

#workspaces label {
    font-size: 9px;
    background: transparent;
    min-width: 18px;
    min-height: 18px;
    transition: all 0.12s ease-out;
}

#workspaces button {
    background: @ws_button;
    border-radius: 9px;
    margin: 0px 3px;
    transition: all 0.12s ease-out;
}

#workspaces button.persistent {
    background: @ws_button_persistent;
    color: transparent;
    opacity: 0.4;
}

#workspaces button.special {
    background: @ws_button_special;
    opacity: 0.4;
}

#workspaces button.active {
    background: @ws_button_active;
    color: @background;
    opacity: 1;
}

#workspaces button.active label {
    min-width: 36px;
}

#workspaces button.urgent {
    background: @ws_button_urgent;
    opacity: 1;
}

#workspaces button:hover {
    background: @ws_button_hover;
    opacity: 1;
}

#system-control, #system-monitor, #tray, #clock, #clock.date {
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    background: @waybar_bg;
}

#custom-speaker-icon {
    font-family: "Material Symbols Rounded";
    font-size: 22px;
    margin: 0px 3px 0px 0px;
}

#custom-cpu-icon {
    font-family: "Material Symbols Rounded";
    font-size: 20px;
    margin: 0px 2px 0px 0px;
}

#custom-memory-icon {
    font-family: "Material Symbols Rounded";
    font-size: 18px;
    margin: 0px 3px 0px 0px;
}

#cpu {
    margin: 0px 10px 0px 0px;
}

#memory {
    margin: 0px 2px 0px 0px;
}

#wireplumber {
    margin: 0px 3px 0px 0px;
}




